<div class="grid-container">
<h1 class="header">Sunset Calendar Generator</h1>
<form [formGroup]="form_group" class="input">
  <mat-form-field appearance="fill">
    <mat-label>Calendar Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>latitude</mat-label>
    <input matInput formControlName="latitude">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>longitude</mat-label>
    <input matInput formControlName="longitude">
  </mat-form-field>
  <div formArrayName="events">
    <div *ngFor="let event of events_form.controls; let i=index" [formGroupName]="i">
      <mat-divider></mat-divider>
      <mat-form-field appearance="fill">
        <mat-label>Event title</mat-label>
        <input matInput formControlName="summary">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Reference</mat-label>
        <mat-select formControlName="reference" required>
          <mat-option *ngFor="let time_reference of time_references" [value]="time_reference">
            {{time_reference}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <button (click)="deleteEvent(i)">Delete</button>

      <div formGroupName="start_time">
        Start time:
        <mat-button-toggle-group formControlName="before" aria-label="Font Style">
          <mat-button-toggle value="before">Before </mat-button-toggle>
          <mat-button-toggle value="after"> After</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field appearance="fill">
          <mat-label>Hour</mat-label>
          <input matInput formControlName="hour" type="time">
        </mat-form-field>
      </div>

      <div formGroupName="end_time">
        End time:
        <mat-button-toggle-group formControlName="before" aria-label="Font Style">
          <mat-button-toggle value="before">Before </mat-button-toggle>
          <mat-button-toggle value="after"> After</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field appearance="fill">
          <mat-label>Time</mat-label>
          <input matInput formControlName="hour" type="time">
        </mat-form-field>
      </div>


      <div formArrayName="recurrence_form">
        <span *ngFor="let day of get_recurrence_form(i).controls; let j=index">
          <mat-checkbox [formControlName]="j">
          </mat-checkbox>
          {{this.days_of_week[j]}}
        </span>
      </div>
    </div>
  </div>

  <button (click)="addEvent()">Add Event</button>

  <div *ngIf="form_group.invalid"> Input is not valid</div>
  <textarea *ngIf="form_group.valid">{{encodedUrl}}</textarea>

</form>



<div class="footer">Brought to you by @tarragoesteve</div>

</div>